### Process for clean Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('fipkart_mobiles.csv')
dff=pd.read_csv('flipkart_mobile_scraped.csv')

In [ ]:
df1=pd.concat([df,dff],ignore_index=True)

In [ ]:
df1.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0

In [ ]:
df1

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
...,...,...,...,...,...,...,...,...
5756,Xiaomi,Redmi Y3,Bold Red,4 GB,64 GB,4.3,12999.0,13999.0
5757,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
5758,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
5759,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN
5760,Xiaomi,Redmi Y3,Prime Black,4 GB,64 GB,4.3,12499.0,13999.0

In [ ]:
df1.isnull

<bound method DataFrame.isnull of        Brand      Model            Color Memory Storage  Rating  \
0       OPPO        A53  Moonlight Black   4 GB   64 GB     4.5
1       OPPO        A53       Mint Cream   4 GB   64 GB     4.5
2       OPPO        A53  Moonlight Black   6 GB  128 GB     4.3
3       OPPO        A53       Mint Cream   6 GB  128 GB     4.3
4       OPPO        A53   Electric Black   4 GB   64 GB     4.5
...      ...        ...              ...    ...     ...     ...
5756  Xiaomi  Redmi Y3          Bold Red   4 GB   64 GB     4.3
5757  Xiaomi  Redmi Y3      Elegant Blue   3 GB   32 GB     4.3
5758  Xiaomi  Redmi Y3      Elegant Blue   4 GB   64 GB     4.2
5759  Xiaomi  Redmi Y3       Prime Black   3 GB   32 GB     4.2
5760  Xiaomi  Redmi Y3       Prime Black   4 GB   64 GB     4.3

      Selling Price  Original Price
0           11990.0         15990.0
1           11990.0         15990.0
2           13990.0         17990.0
3           13990.0         17990.0
4           11990.0         15990.0
...             ...             ...
5756        12999.0         13999.0
5757         9450.0             NaN
5758        12999.0             NaN
5759         9950.0             NaN
5760        12499.0         13999.0

[5761 rows x 8 columns]>

In [ ]:
df2=df1.drop_duplicates()

In [ ]:
df2.isna().sum()

Brand                0
Model                2
Color              133
Memory              77
Storage             95
Rating             130
Selling Price        3
Original Price    1606
dtype: int64

In [ ]:
df2

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
...,...,...,...,...,...,...,...,...
5754,Xiaomi,Redmi Y2,Rose Gold,3 GB,32 GB,4.3,9999.0,NaN
5755,Xiaomi,Redmi Y2,Rose Gold,4 GB,64 GB,0.0,10999.0,NaN
5757,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
5758,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
5759,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN

In [ ]:
df2['Rating'].mean()

4.096797543320904

In [ ]:
df2

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
...,...,...,...,...,...,...,...,...
5754,Xiaomi,Redmi Y2,Rose Gold,3 GB,32 GB,4.3,9999.0,NaN
5755,Xiaomi,Redmi Y2,Rose Gold,4 GB,64 GB,0.0,10999.0,NaN
5757,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
5758,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
5759,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN

In [ ]:
df2.columns = df2.columns.str.strip().str.lower().str.replace(' ', '_')

In [ ]:
for col in ['original_price', 'selling_price', 'rating']:
    df2[col] = df2[col].fillna(
        df2.groupby(['brand', 'model'])[col].transform('mean')
    )

C:\Users\darsh\AppData\Local\Temp\ipykernel_14056\4069047025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = df2[col].fillna(
C:\Users\darsh\AppData\Local\Temp\ipykernel_14056\4069047025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = df2[col].fillna(
C:\Users\darsh\AppData\Local\Temp\ipykernel_14056\4069047025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[col] = df2[col].fillna(

In [ ]:
df2.isna().sum()

brand               0
model               2
color             133
memory             77
storage            95
rating             13
selling_price       0
original_price      2
dtype: int64

In [ ]:
def fill_with_mode(series):
    mode_vals = series.mode().dropna()
    return series.fillna(mode_vals.iloc[0]) if not mode_vals.empty else series

for col in ['model', 'color', 'memory', 'storage']:
    df2[col] = df2.groupby('brand')[col].transform(fill_with_mode)

KeyError: 'brand'

In [ ]:
df2

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
...,...,...,...,...,...,...,...,...
5754,Xiaomi,Redmi Y2,Rose Gold,3 GB,32 GB,4.3,9999.0,NaN
5755,Xiaomi,Redmi Y2,Rose Gold,4 GB,64 GB,0.0,10999.0,NaN
5757,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
5758,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
5759,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN

In [ ]:
df.isna().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [ ]:
for col in ['rating', 'original_price']:
    df2[col] = df2[col].fillna(
        df2.groupby(['brand', 'model'])[col].transform('mean')
    )

# Fallback to overall mean if group-wise mean is NaN
df2['rating'].fillna(df2['rating'].mean(), inplace=True)
df2['original_price'].fillna(df2['original_price'].mean(), inplace=True)

KeyError: 'rating'

In [ ]:
df2.isna().sum()

Brand                0
Model                2
Color              133
Memory              77
Storage             95
Rating             130
Selling Price        3
Original Price    1606
dtype: int64

In [ ]:
df2

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
...,...,...,...,...,...,...,...,...
5754,Xiaomi,Redmi Y2,Rose Gold,3 GB,32 GB,4.3,9999.0,NaN
5755,Xiaomi,Redmi Y2,Rose Gold,4 GB,64 GB,0.0,10999.0,NaN
5757,Xiaomi,Redmi Y3,Elegant Blue,3 GB,32 GB,4.3,9450.0,NaN
5758,Xiaomi,Redmi Y3,Elegant Blue,4 GB,64 GB,4.2,12999.0,NaN
5759,Xiaomi,Redmi Y3,Prime Black,3 GB,32 GB,4.2,9950.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [ ]:
df2.describe()

            Rating  Selling Price  Original Price
count  4559.000000    4686.000000     3083.000000
mean      4.096798   25968.894366    27411.700616
std       0.754430   30675.807905    30869.734880
min       0.000000    1000.000000     1000.000000
25%       4.000000    8999.250000     9999.000000
50%       4.300000   14990.000000    15999.000000
75%       4.400000   27375.000000    29999.000000
max       5.000000  179900.000000   189999.000000

In [ ]:
df2.to_csv("cleaned_mobile_data.csv", index=False)

### here we get clean dataset